.pinkLine {
  border: 1.35px solid #F20D89;
  height: 24rem;
  position: absolute;
  right: 3rem;
  bottom: 0rem; }

.greenLine {
  border: 2px solid #89F20D;
  position: absolute; }

.L1 {
  left: 0rem;
  top: 24rem;
  width: 31rem; }

.L2 {
  left: 15rem;
  top: 21rem;
  width: 38rem; }

.L3 {
  left: 35rem;
  top: 18rem;
  width: 26rem; }

.L4 {
  left: 49rem;
  top: 17rem;
  width: 28rem; }

.L5 {
  left: 64rem;
  top: 21rem;
  width: 28rem; }

.L1,
.L2,
.L3,
.L4,
.L5 {
  z-index: -100;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -moz-transform: rotate(45deg);
  /* Firefox */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  -o-transform: rotate(45deg);
  /* Opera */ }

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 37rem;
  margin: 14.2rem 5rem auto 5rem; }
  .buttonWrapper__btnLive {
    cursor: pointer;
    margin-bottom: 5rem; }
  .buttonWrapper__btnCode {
    cursor: pointer;
    margin-top: 5rem; }

:root {
  --color-background-black: #121414;
  --color-background-white: #FDFDFD;
  --color-background-grey: #F3F4F5;
  --color-background-pink: #F20D89;
  --color-background-blue: #0D89F2;
  --color-background-gradient: linear-gradient(319.1deg, #F20D89 29.63%, #89F20D 52.52%, #0D89F2 74.03%);
  --color-text-white: #FDFDFD;
  --color-text-black: #121414;
  --color-text-yellow: #FAFF11;
  --color-text-green: #89F20D;
  --color-text-contactform: #353535; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll; }

#clearfix::after {
  content: "";
  clear: both;
  display: table; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.headingXLrgSkills {
  font-family: 'Cormorant', serif;
  font-size: 30rem;
  font-weight: 400;
  line-height: 36.3rem;
  letter-spacing: .04rem;
  transform: rotate(90deg);
  color: var(--color-text-yellow);
  border: 6px solid var(--color-text-yellow); }

.headingXLrgAbout {
  font-family: 'Combo', cursive;
  font-size: 30rem;
  font-weight: 400;
  line-height: 35.3rem;
  letter-spacing: .04rem;
  color: var(--color-text-white); }

.headingXLrgContact {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 30rem;
  font-weight: 400;
  line-height: 25.7rem;
  letter-spacing: .04rem;
  border: 4px solid var(--color-text-white); }

.headingLrgFeatured {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 15rem;
  font-weight: 400;
  line-height: 29.7rem;
  letter-spacing: .09rem;
  color: #121414;
  -webkit-text-stroke: 6px var(--color-text-black); }

.headingLrgName {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 20rem;
  font-weight: 900;
  line-height: 26.9rem;
  letter-spacing: .01rem;
  color: var(--color-background-black);
  -webkit-text-stroke: 3px var(--color-text-white); }

.headingMediumFeatProj {
  font-family: 'Redressed', cursive;
  font-size: 12rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  color: var(--color-text-black); }

.navListTypography {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: .01rem;
  transform: rotate(45deg);
  color: rgba(253, 253, 253, 0.9); }

.locationTypography {
  font-family: 'Jost', sans-serif;
  font-size: 4rem;
  font-weight: 100;
  line-height: 5.8rem;
  letter-spacing: 0.1rem;
  opacity: .65;
  color: #fcfcfc; }

.projectDescriptionFont {
  font-family: 'Expletus Sans', cursive;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: .015rem;
  color: var(--color-text-black); }

.builtUsingTypography {
  font-family: 'Expletus Sans', cursive;
  font-size: 3rem;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: .015rem;
  color: var(--color-text-black); }

.techTypography {
  font-family: 'Expletus Sans', cursive;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .015rem;
  color: var(--color-text-black); }

.viewLiveTypography {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: .115rem;
  color: var(--color-background-grey);
  -webkit-text-stroke: 1.25px var(--color-text-black); }

.navigation {
  display: block;
  height: 11.7rem; }
  .navigation__listWrapper {
    display: flex;
    flex-direction: row;
    order: 1;
    height: inherit;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.5rem; }
    .navigation__listWrapper-navList {
      display: flex;
      cursor: pointer;
      margin-right: 6.3rem;
      align-items: center;
      height: 3rem;
      position: relative;
      transition: all .60s ease-in-out; }
    .navigation__listWrapper-navList:before {
      content: '';
      position: absolute;
      width: 0;
      height: 1.5px;
      top: calc(50% - 1);
      right: 0;
      background: #89F20D;
      transition: inherit; }
    .navigation__listWrapper-navList:hover:before {
      left: 0;
      width: 100%; }
    .navigation__listWrapper-navList:hover {
      transform: rotateY(45deg) scale(1.4); }
    .navigation__listWrapper-navList:active {
      transition: all .10s ease-in-out;
      transform: rotateX(45deg); }

.gridContainer {
  display: grid;
  background: var(--color-background-black);
  grid-template-rows: minmax(min-content, 95rem) minmax(min-content, 100vh) repeat(2, minmax(90rem, 100vh)) repeat(2, minmax(79rem, 100vh)) repeat(2, minmax(86rem, 100vh));
  grid-template-columns: [full-start] minmax(min-content, 50rem) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(min-content, 50rem) [full-end];
  justify-content: center; }

.heroContainer {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  z-index: 99; }

.innerFlexWrap {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  margin-top: auto !important; }

.nameWrapper {
  margin: 0rem auto auto auto;
  order: 2;
  position: relative; }
  .nameWrapper__colin {
    display: block;
    margin-bottom: -11.25rem; }
  .nameWrapper__peter {
    display: inline-block;
    margin-left: 20rem; }
  .nameWrapper__s {
    display: inline-block; }

.locationWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: inherit;
  writing-mode: vertical-rl;
  order: 1; }
  .locationWrapper__dot {
    display: inline-block;
    margin-bottom: 1.25rem;
    margin-left: 1rem;
    height: 8px;
    width: 8px;
    color: #F20D89; }

.auroa {
  margin-left: 5rem; }

.featuredContainer {
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  background: var(--color-background-white); }

.txtWrapper {
  display: flex;
  flex-direction: column;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -moz-transform: rotate(-90deg);
  /* Firefox */
  -webkit-transform: rotate(-90deg);
  /* Safari and Chrome */
  -o-transform: rotate(-90deg);
  /* Opera */ }
  .txtWrapper__featured {
    display: flex;
    justify-content: flex-start;
    max-width: 158rem;
    z-index: 1;
    position: relative;
    left: -1000px; }
  .txtWrapper__work {
    display: flex;
    z-index: 1;
    position: relative;
    margin-top: -15rem;
    left: -1000px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -moz-transform: rotate(180deg);
    /* Firefox */
    -webkit-transform: rotate(180deg);
    /* Safari and Chrome */
    -o-transform: rotate(180deg);
    /* Opera */ }

.projOneContainer {
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  background: var(--color-background-grey);
  z-index: 200;
  display: flex; }

.imgWrapper {
  position: relative;
  width: 75rem;
  margin: auto 0 auto 20%; }
  .imgWrapper__title {
    position: absolute;
    top: 40%;
    left: -16rem; }

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 75rem;
  margin: auto 0 auto 0;
  background-image: url("../../assets/desktop/dine_background_desktop.png");
  background-position: center; }
  .contentWrapper__description {
    max-width: 44rem;
    margin-left: 5rem;
    margin-right: 7.5rem; }
  .contentWrapper__built {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: inherit;
    writing-mode: vertical-rl; }

.techWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35rem;
  margin-left: 5rem; }

/*# sourceMappingURL=style.css.map */
