:root {
    //BACKGROUNDS
        --color-background-black: #121414; 
        --color-background-white: #FDFDFD;
        --color-background-grey: #F3F4F5; 
        --color-background-pink: #F20D89;
        --color-background-blue: #0D89F2;
        --color-background-gradient: linear-gradient(319.1deg, #F20D89 29.63%, #89F20D 52.52%, #0D89F2 74.03%); 

    //TEXT
        --color-text-white: #FDFDFD;
        --color-text-black: #121414;
        --color-text-yellow: #FAFF11;
        --color-text-green: #89F20D;
        --color-text-contactform: #353535;
    }