// Project One
.projOneContainer {
    grid-row: 3 / 4;
    grid-column: full-start / full-end;
    background: var(--color-background-grey);
    z-index: 200;
    display: flex;
}

.imgWrapper {
    position: relative;
    width: 75rem;
    margin: auto 0 auto 20%;

    &__img {
    }

    &__title {
        position: absolute;
        top: 40%;
        left: -16rem;
    }
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 75rem;
    margin: auto 0 auto 0;

    &__description {
        max-width: 44rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    &__built {
        display: flex;
        align-items: flex-end;
        position: relative;
        width: inherit;
        writing-mode: vertical-rl;
    }
}

.techWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 35rem;
    margin-left: 2rem;
}

// Project Two
.projTwoContainer {
    grid-row: 4 / 5;
    grid-column: full-start / full-end;
    background: var(--color-background-black);
    z-index: 200;
    display: flex;
}